@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    color-scheme: only light;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
}

body {
    display: flex;
    background-color: white;
    font-family: 'poppins', sans-serif;
    color: #161616;
    margin: auto;
    justify-content: space-evenly;
}

img{
    border-radius: 50%;
    max-width: 100px    ;
}

.container {
    background-color: black;
    color: white;
    max-width: 600px;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 7rem;
    padding: 2.5rem 1rem ;
    gap: 1rem;
    border: 2px solid;
    border-radius: 24px;
}

.container:hover{
    background-color: white;
    color: black;
}

.container p{
    max-width: 275px;
    text-align: center;
}

button {
    padding: .72rem 2rem;
    border-radius: 15px;
    background-color: rgb(49, 158, 49);
    border: 2px solid rgb(49, 158, 49);
    color: white;
}

.container button:hover{
    background: transparent;
    color: black;
}

@media (max-width: 1350) {
 /* Finish later */
}   
